<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tain.mybatis.mappers.CdItmMapper">

	<!-- id: selectAll -->
	<select id="selectAll" parameterType="CamelMap"  resultType="CamelMap">
		select
			id
			, cd_mst
			, cd_itm
			, cd_val
			, desc
		from
			tb_cditm
		where 1=1
	</select>
	
	<!-- id: selectOne -->
	<select id="selectOne" parameterType="CamelMap"  resultType="CamelMap">
		select
			id
			, cd_mst
			, cd_itm
			, cd_val
			, desc
		from
			tb_cditm
		where 1=1
			and id = #{id}
	</select>
	
	<!-- ==================================================================== -->
	<!-- id: selectAll -->
	<select id="selectAllByMst" parameterType="CamelMap"  resultType="CamelMap">
		select
			id
			, cd_mst
			, cd_itm
			, cd_val
			, desc
		from
			tb_cditm
		where 1=1
			and cd_mst = #{code}
	</select>
	
	<!-- id: selectOne -->
	<select id="selectOneByMst" parameterType="CamelMap"  resultType="CamelMap">
		select
			id
			, cd_mst
			, cd_itm
			, cd_val
			, desc
		from
			tb_cditm
		where 1=1
			and id = #{id}
			and cd_mst = #{code}
	</select>
	
</mapper>
