<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tain.mybatis.mappers.CmdMapper">

	<!-- id: selectAll -->
	<select id="selectAll" parameterType="CamelMap"  resultType="CamelMap">
		select
			id
			, mst_type
			, mst_code
			, cmd_code
			, cmd_name
			, cmd_desc
			, cmd_period
			, cmd_type
			, cmd_arr
		from
			tb_cmd
		where 1=1
	</select>
	
	<!-- id: selectOne -->
	<select id="selectOne" parameterType="CamelMap"  resultType="CamelMap">
		select
			id
			, mst_type
			, mst_code
			, cmd_code
			, cmd_name
			, cmd_desc
			, cmd_period
			, cmd_type
			, cmd_arr
		from
			tb_cmd
		where 1=1
			and id = #{id}
	</select>
	
	<!-- ==================================================================== -->
	<!-- id: selectAllByGrp -->
	<select id="selectAllByGrp" parameterType="CamelMap"  resultType="CamelMap">
		select
			id
			, mst_type
			, mst_code
			, cmd_code
			, cmd_name
			, cmd_desc
			, cmd_period
			, cmd_type
			, cmd_arr
		from
			tb_cmd
		where 1=1
			and mst_type = 'CMD_GRP'
			and mst_code = #{code}
	</select>
	
	<!-- id: selectOneByGrp -->
	<select id="selectOneByGrp" parameterType="CamelMap" resultType="CamelMap">
		select
			id
			, mst_type
			, mst_code
			, cmd_code
			, cmd_name
			, cmd_desc
			, cmd_period
			, cmd_type
			, cmd_arr
		from
			tb_cmd
		where 1=1
			and mst_type = 'CMD_GRP'
			and mst_code = #{code}
			and id = #{id}
	</select>
	
	<!-- ==================================================================== -->
	<!-- id: selectAllBySvr -->
	<select id="selectAllBySvr" parameterType="CamelMap"  resultType="CamelMap">
		select
			id
			, mst_type
			, mst_code
			, cmd_code
			, cmd_name
			, cmd_desc
			, cmd_period
			, cmd_type
			, cmd_arr
		from
			tb_cmd
		where 1=1
			and mst_type = 'CMD_SVR'
			and mst_code = #{code}
	</select>
	
	<!-- id: selectOneBySvr -->
	<select id="selectOneBySvr" parameterType="CamelMap" resultType="CamelMap">
		select
			id
			, mst_type
			, mst_code
			, cmd_code
			, cmd_name
			, cmd_desc
			, cmd_period
			, cmd_type
			, cmd_arr
		from
			tb_cmd
		where 1=1
			and mst_type = 'CMD_SVR'
			and mst_code = #{code}
			and id = #{id}
	</select>
	
</mapper>
