<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
</head>
<body>
	<div class="row">
		<h1>Hello, world!!!</h1>
	</div>
	<div class="row">
		<a href="http://localhost:8880/v0.1/usr/list">LIST</a>
	</div>
	<div class="row">
		<a href="http://localhost:8881/v0.1/usr/insert">INSERT</a>
	</div>
	<div class="row">
		<a href="http://localhost:8882/v0.1/usr/226/update">UPDATE</a>
	</div>
	<div class="row">
		<a href="http://localhost:8883/v0.1/usr/226/delete">DELETE</a>
	</div>
</body>
<script type="text/javascript">
</script>
</html>