<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<!-- header1 -->
<div th:fragment="header1">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a th:href="@{/}" class="navbar-brand" style="text-decoration:none;">
					<img th:src="@{/images/spring_boot_gray.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px;" />
					<span style="vertical-align:middle;">HW-Monster</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- navbar menu -->
				<ul class="nav navbar-nav navbar-left">
					<li class="hide"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<!-- /header1 -->



<!-- header2 -->
<div th:fragment="header2">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a th:href="@{/}" class="navbar-brand" style="text-decoration:none;">
					<img th:src="@{/images/spring_boot_gray.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px;" />
					<span style="vertical-align:middle;">LNS System</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- navbar menu -->
				<ul class="nav navbar-nav navbar-left">
					<li><a th:href="@{/board/list}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Board</a></li>
					<li><a th:href="@{/word/list}" ><span class="glyphicon glyphicon-list-all"></span>&nbsp;Word</a></li>
					<li><a th:href="@{/mid/list}" ><span class="glyphicon glyphicon-list-all"></span>&nbsp;Mid</a></li>
					<li class="hide"><a href="/sample05/">Statistic</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<!-- /header2 -->



<!-- header3 -->
<div th:fragment="header3">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a th:href="@{/}" class="navbar-brand" style="text-decoration:none;">
					<img th:src="@{/images/spring_boot_gray.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px;" />
					<span style="vertical-align:middle;">HW-Monster</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- navbar menu -->
				<ul class="nav navbar-nav navbar-left">
					<li><a th:href="@{/apis/list}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Lightnet-vFEP</a></li>
					<!-- 
					<li><a th:href="@{http://172.30.222.3:17080/v0.6/apis/list}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Sentbe-vSentbe</a></li>
					-->
					<li class="hide"><a href="/sample05/">Statistic</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<!-- /header3 -->



<!-- header4 -->
<div th:fragment="header4">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a th:href="@{/}" class="navbar-brand" style="text-decoration:none;">
					<img th:src="@{/images/spring_boot_gray.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px;" />
					<span style="vertical-align:middle;">HW-Monster</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- navbar menu -->
				<ul class="nav navbar-nav navbar-left">
					<li><a data-target="#modalSelfInfo" data-toggle="modal" href="#" onclick="alert('Hanwha-Monster (Version 1.0 2021.05.15) for monitoring systems... ');">MyInfo</a></li>
					<!-- dropdown of menu 'GROUP' -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">GROUP<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<th:block th:each="grp : ${lstGrp}">
								<li><a th:href="@{/cmd/list}">
									<span class="glyphicon glyphicon-list-all"></span>&nbsp;<span th:utext="${grp.grpCode + '(' + grp.grpName + ')'}"></span>
								</a></li>
							</th:block>
						</ul>
					</li>
					<!-- dropdown of menu 'SERVER' -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVER<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<th:block th:each="svr : ${lstSvr}">
								<li><a th:href="@{/cmd/list}">
									<span class="glyphicon glyphicon-list-all"></span>&nbsp;<span th:utext="${svr.grpCode + '-' + svr.svrCode + '(' + svr.svrName + ')'}"></span>
								</a></li>
							</th:block>
						</ul>
					</li>
					<!-- dropdown of menu 'CMDS' -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMAND (test)<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="_hide"><a th:href="@{/cmd/testCmdForm}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Test Command</a></li>
							<li class="_hide"><a th:href="@{/cmd/testCmdIntegrate}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Test Group Command</a></li>
							<li class="hide"><a href="#"><span class="glyphicon glyphicon-list-all"></span>&nbsp;_Role</a></li>
							<li class="hide divider"></li>
							<li class="hide"><a href="#"><span class="glyphicon glyphicon-list-all"></span>&nbsp;_Order</a></li>
						</ul>
					</li>
					<!-- dropdown of menu 'INTEGRATE' -->
					<li class="hide dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">INTEGRATE<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="_hide"><a th:href="@{/cmd/testCmdIntegrate}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;testCmdIntegrate</a></li>
							<li class="hide"><a href="#"><span class="glyphicon glyphicon-list-all"></span>&nbsp;_List</a></li>
							<li class="hide"><a href="#"><span class="glyphicon glyphicon-list-all"></span>&nbsp;_Result</a></li>
						</ul>
					</li>
					<li class="hide"><a href="/sample05/">Statistic</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!-- ############################################################################ -->
	<!-- script: init variables -->
	<script th:inline="javascript">
		if (true) console.log(">>>>> _contextPath_ = " + _contextPath_);
		var lstGrp = /*[[${lstGrp}]]*/ 'default';
		console.log(">>>>> lstGrp: ", lstGrp);
		var lstSvr = /*[[${lstSvr}]]*/ 'default';
		console.log(">>>>> lstSvr: ", lstSvr);
	</script>
	<!-- /script: variables -->

</div>
<!-- /header4 -->




<!-- header5 -->
<div th:fragment="header5">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a th:href="@{/}" class="navbar-brand" style="text-decoration:none;">
					<img th:src="@{/images/spring_boot_gray.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px;" />
					<span style="vertical-align:middle;">HW-Monster</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- navbar menu -->
				<ul class="nav navbar-nav navbar-left">
				
					<!-- dropdown of menu 'MyInfo' -->
					<li><a data-target="#modalSelfInfo" data-toggle="modal" href="#" onclick="alert('Hanwha-Monster (Version 1.0 2021.05.15) for monitoring systems... ');">MyInfo</a></li>
					
					<!-- dropdown of menu 'Org' -->
					<li><a th:href="@{/cmd/orgForm}">Organization</a></li>
					
					<!-- dropdown of menu 'List' -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">List<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/cmd/grpList}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Group</a></li>
							<li><a th:href="@{/cmd/svrList}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Server</a></li>
							<li><a th:href="@{/cmd/cmdList}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Command</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/cmd/cdMstList}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Code</a></li>
						</ul>
					</li>
					
					<!-- dropdown of menu 'Org' -->
					<li><a th:href="@{/cmd/usrList}">User</a></li>
					
					<!-- dropdown of menu 'Org' -->
					<li><a th:href="@{/cmd/brwList}">Browser</a></li>
					
					<li class="hide"><a href="/sample05/">Statistic</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!-- script: init variables -->
	<script th:inline="javascript">
		//var wsUri = /*[[${wsUri}]]*/ 'default';
		//if (true) console.log(">>>>> wsUri: ", wsUri);
	</script>
	<!-- /script: variables -->

</div>
<!-- /header5 -->





<!-- header9 -->
<div th:fragment="header9">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a th:href="@{/}" class="navbar-brand" style="text-decoration:none;">
					<img th:src="@{/images/spring_boot_gray.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px;" />
					<span style="vertical-align:middle;">LNS System</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- navbar menu -->
				<ul class="nav navbar-nav navbar-left">
					<li><a data-target="#modalSelfInfo" data-toggle="modal" href="#" onclick="alert('toggle event after click event.....');">MyInfo</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Info</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Role</a></li>
							<li class="divider"></li>
							<li><a href="#"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Order</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Order<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="glyphicon glyphicon-list-all"></span>&nbsp;List</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Result</a></li>
						</ul>
					</li>
					<li class="hide"><a href="/sample05/">Statistic</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<!-- /header9 -->



</html>