<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tain.mybatis.mappers.UsrMapper">

	<!-- selectAll -->
	<select id="selectAll" parameterType="CamelMap" resultType="CamelMap">
		select
			id
			, user_id
			, pass_wd
			, desc
		from
			tb_usr
		where 1=1
	<if test='id != null and id != ""'>
			and id = #{id}
	</if>
	</select>
	
	<!-- insertOne -->
	<insert id="insertOne" parameterType="CamelMap">
		insert into tb_usr
		(
			id
			, user_id
			, pass_wd
			, desc
		)
		values
		(
			usr_seq.nextval
			, #{userId}
			, #{passWd}
			, #{desc}
		)
	<selectKey keyProperty="id" resultType="_int" order="AFTER">
		select usr_seq.currval from dual
	</selectKey>
	</insert>

	<!-- 
	<selectKey keyProperty="id" resultType="_long" order="BEFORE">
		select usr_seq.nextval from dual
	</selectKey>
	<selectKey keyProperty="id" resultType="_int" order="AFTER">
		select usr_seq.currval from dual
		select count(*) as cnt from tb_usr
	</selectKey>
	 -->
	
</mapper>