<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>form.html</title>
	<!-- css and script -->
	<th:block th:replace="layout/css::css1"></th:block>
	<th:block th:replace="layout/script::script1"></th:block>
	<!-- /css and script -->
	<!--
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-family: inherit;
		font-size: inherit;
	-->
	<style>
	#result {
		resize: vertical;
	}
	textarea {
		font-family: monospace, "맑은 고딕", serif;
		font-size: 11px;
		color: #999999;
	}
	</style>
</head>
<body>
<!-- header -->
<div th:replace="layout/header::header1"></div>
<!-- /header -->

<!-- main -->
<div class="container">
	<div class="page-header">
		<h2>testCmdForm: Test Command</h2>
	</div>
	<br/>
	<table class="table">
		<tr>
			<th style="padding:13px 0 0 15px;">svrCode</th>
			<td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly"/></td>
		</tr>
		<tr>
			<th style="padding:13px 0 0 15px;">cmd</th>
			<td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly"/></td>
		</tr>
		<tr>
			<th style="padding:13px 0 0 15px;">cmdLoop</th>
			<td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly"/></td>
		</tr>
		<tr>
			<th style="padding:13px 0 0 15px;">Print Direction</th>
			<td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly"/></td>
		</tr>
		<tr>
			<th class="col-sm-2">Command</th>
			<td class="col-sm-10">
				<div class="form-group">
					<label for="svrCode">svrCode: </label>
					<select id="svrCode" name="svrCode">
						<option th:each="svrCode : ${lstSvrCode}" th:value="${svrCode}" th:text="${svrCode}" th:selected="${svrCode=='TEST01'}"></option>
					</select>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<label for="cmd">cmd: </label>
					<input id="cmd" type="text" size="70"/>
				</div>
			</td>
		</tr>
		<tr>
			<th style="padding:13px 0 0 15px;">Options</th>
			<td>
				<div class="form-group">
					<label for="cmdLoop">cmdLoop: </label>
					<select id="cmdLoop" name="cmdLoop">
						<option th:each="cmdLoop : ${lstCmdLoop}" th:value="${cmdLoop}" th:text="${cmdLoop}"></option>
					</select>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<label for="prtDir">Print Direction: </label>
					<select id="prtDir" name="lstPrtDir">
						<option th:each="prtDir : ${lstPrtDir}" th:value="${prtDir}" th:text="${prtDir}"></option>
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<th style="padding:13px 0 10px 15px;"><button type="button" class="btn btn-primary" id="send">Send</button></th>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th style="padding:13px 0 0 15px;">result</th>
			<td><textarea id="result" class="col-md-1 form-control input-sm" rows="15"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>
	<div class="pull-left">
		<a th:href="@{/cmd/list}" class="btn btn-primary">list</a>
		<!-- button id="btnModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">TEST</button -->
	</div>
	<!--
	<div class="pull-right">
		<button th:if="!${cmd?.id}" type="button" class="btn btn-primary" id="insert1">save1</button>
		<button th:if="${cmd?.id}" type="button" class="btn btn-primary" id="insert2">save2</button>
		<button th:if="${cmd?.id}" type="button" class="btn btn-info" id="update">update</button>
		<button th:if="${cmd?.id}" type="button" class="btn btn-danger" id="delete">delete</button>
	</div>
	-->
</div>
<!-- /main -->
<br/><br/><br/>

<!-- footer -->
<div th:replace="layout/footer::footer1"></div>
<!-- /footer -->

</body>

<!-- script: variables -->
<script th:inline="javascript">
	if (true) console.log(">>>>> _contextPath_ = " + _contextPath_);
	var urlOnline = /*[[${urlOnline}]]*/ 'default';
	console.log(">>>>> urlOnline = " + urlOnline);
</script>
<!-- /script: variables -->


<!-- script: websocket -->
<script th:inline="javascript">
	var svrCode = /*[[${cmd.svrCode}]]*/ 'svrCode';
	var cmdCode = /*[[${cmd.cmdCode}]]*/ 'cmdCode';
	var code = svrCode + "-" + cmdCode;
	console.log(">>>>> code = " + code);
	
	var wsUri = /*[[${wsUri}]]*/ 'wsUri';
	console.log(">>>>> wsUri = " + wsUri);
	//var wsUri = document.getElementById("textWsUri").value;
	//var result = document.getElementById("result");
	
	var ws = new WebSocket(wsUri);
	ws.onopen = function(event) {
		console.log("* Server connect...");
		var objAuth = {
			msgCode: "CMD_AUTH",
			userId: "KANG",
			groupCd: "DEV",
			rollCd: "ADMIN",
			sections: code
		};
		console.log("* auth: " + JSON.stringify(objAuth, null, 2));
		sendMessage(JSON.stringify(objAuth));
	};
	ws.onclose = function(event) {
		console.log("* Server Disconnect...");
	};
	ws.onerror = function(event) {
		console.log("* error...");
	};
	ws.onmessage = function(event) {
		//console.log("> " + event.data);
		var objRes = event.data;  // json string
		var jsonRes = JSON.parse(objRes);
		if (jsonRes.msgCode == "CMD_AUTH") {
			console.log(jsonRes.msgCode + " > " + JSON.stringify(jsonRes, null, 2));
			//$("#result").prepend(JSON.stringify(jsonRes, null, 2));
			if (jsonRes.cmdType === "CMD_NORMAL") {
				$("#result").val(JSON.stringify(jsonRes, null, 2));
			} else if (jsonRes.cmdType === "CMD_SEQUENCE"){
				$("#result").prepend(JSON.stringify(jsonRes, null, 2));
			} else {
				$("#result").append(JSON.stringify(jsonRes, null, 2));
			}
		} else {
			console.log("* " + jsonRes.cmdType + " > " + jsonRes.cmdResult);
			if (jsonRes.cmdType === "CMD_NORMAL") {
				$("#result").val(jsonRes.cmdResult);
			} else if (jsonRes.cmdType === "CMD_SEQUENCE"){
				$("#result").prepend(jsonRes.cmdResult);
			} else {
				$("#result").append(jsonRes.cmdResult);
			}
		}
	};
	function sendMessage(message) {
		ws.send(message);
	}
	function disconnect() {
		ws.close();
	}
</script>
<!-- script: websocket -->



<script>
</script>






</html>