<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>codeItemList.html</title>
	<!-- css and script -->
	<th:block th:replace="layout/css::css1"></th:block>
	<th:block th:replace="layout/script::script1"></th:block>
	<!-- /css and script -->
</head>
<body>
	<!-- header -->
	<div th:replace="layout/header::header5"></div>
	<!-- /header -->
	
	<!-- main -->
	<div class="container">
		<div class="page-header">
			<h2>Code Item List</h2>
		</div>
		<br/>
		<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th class="col-md-2">code mst</th>
						<th class="col-md-2">code item</th>
						<th class="col-md-2">code value</th>
						<th class="col-md-2">desc</th>
						<th class="col-md-3">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="itm : ${lst}">
						<td th:text="${itm.id}">#</td>
						<td th:text="${itm.cdMst}">code mst</td>
						<td th:text="${itm.cdItm}">code item</td>
						<td th:text="${itm.cdVal}">code value</td>
						<td th:text="${itm.desc}">desc</td>
						<td>
							<div class="pull-right">
								<a th:href="@{'/cmd/cdItmForm/' + ${code}(id=${itm.id})}" style="padding:2px;" class="btn btn-primary btn-sm">detail</a>
								<button type="button" style="padding:2px;" class="btn btn-danger btn-sm" id="btnDelete">delete</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pull-right">
			<a th:href="@{'/cmd/cdItmForm/' + ${code}}" class="btn btn-danger">create</a>
			<a th:href="@{'/cmd/cdMstList'}" class="btn btn-info">msts</a>
			<a th:href="@{'/'}" class="btn btn-info">home</a>
		</div>
		<br/>
		<!-- page --
		<th:block th:replace="layout/page::page5"></th:block>
		-- /page -->
	</div>
	<br/><br/>
	<br/><br/>
	<!-- /main -->
	
	<!-- footer -->
	<div th:replace="layout/footer::footer1"></div>
	<!-- /footer -->
	
	
</body>




<!-- ================================================================================== -->
<!-- ================================================================================== -->
<!-- ================================================================================== -->
<!-- ================================================================================== -->
<!-- ================================================================================== -->
<!-- ================================================================================== -->

<!-- script: variables -->
<script th:inline="javascript">
	var wsUri = /*[[${wsUri}]]*/ 'wsUri';
	console.log(">>>>> wsUri = " + wsUri);
	var lst = /*[[${lst}]]*/ 'svrCode';
	console.log(">>>>> lst = " + lst);
</script>
<!-- /script: variables -->


<!-- script: button -->
<script>
	$('#btnDelete').click(function() {
		console.log('>>>>> btnDelete: onClick');
	});
</script>
<!-- /script: button -->




</html>