<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>grpList</title>
	<!-- css and script -->
	<th:block th:replace="layout/css::css1"></th:block>
	<th:block th:replace="layout/script::script1"></th:block>
	<!-- /css and script -->
</head>
<body>
	<!-- header -->
	<div th:replace="layout/header::header5"></div>
	<!-- /header -->
	
	<!-- main -->
	<div class="container">
		<div class="page-header">
			<h2>Server Commands List</h2>
		</div>
		<br/>
		<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th class="col-md-1">Mst Type</th>
						<th class="col-md-1">Mst Code</th>
						<th class="col-md-1">Cmd Code</th>
						<th class="col-md-1">Cmd Name</th>
						<th class="col-md-1">Cmd Desc</th>
						<th class="col-md-1">Cmd Period</th>
						<th class="col-md-2">Cmd Arr</th>
						<th class="col-md-2">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="itm : ${lst}">
						<td th:text="${itm.id}">#</td>
						<td th:text="${itm.mstType}">CODE</td>
						<td th:text="${itm.mstCode}">cmdArr</td>
						<td th:text="${itm.cmdCode}">cmdPeriod</td>
						<td th:text="${itm.cmdName}">cmdPeriod</td>
						<td th:text="${itm.cmdDesc}">cmdPeriod</td>
						<td th:text="${itm.cmdPeriod}">cmdPeriod</td>
						<td th:text="${itm.cmdArr}">cmdPeriod</td>
						<td>
							<div class="pull-right">
								<a th:href="@{'/cmd/svrCmdForm/' + ${itm.mstCode}(id=${itm.id})}" style="padding:2px;" class="btn btn-primary btn-sm">detail</a>
								<button type="button" style="padding:2px;" class="btn btn-danger btn-sm" id="btnDelete">delete</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pull-right">
			<a th:href="@{/cmd/cmdForm}" class="btn btn-danger">create</a>
			<a th:href="@{/cmd/svrList/}" class="btn btn-info">svrs</a>
			<a th:href="@{/}" class="btn btn-info">home</a>
		</div>
		<br/>
		<!-- page --
		<th:block th:replace="layout/page::page5"></th:block>
		-- /page -->
	</div>
	<br/><br/>
	<br/><br/>
	<!-- /main -->
	
	<!-- footer -->
	<div th:replace="layout/footer::footer1"></div>
	<!-- /footer -->
	
	
</body>


	
</body>

<!-- ================================================================================== -->
<!-- ================================================================================== -->
<!-- ================================================================================== -->
<!-- ================================================================================== -->
<!-- ================================================================================== -->
<!-- ================================================================================== -->

<!-- script: variables -->
<script th:inline="javascript">
	var wsUri = /*[[${wsUri}]]*/ 'wsUri';
	console.log(">>>>> wsUri = " + wsUri);
	var lst = /*[[${lst}]]*/ 'svrCode';
	console.log(">>>>> lst = " + lst);
</script>
<!-- /script: variables -->


<!-- script: button -->
<script>
	$('#btnDelete').click(function() {
		console.log('>>>>> btnDelete: onClick');
	});
</script>
<!-- /script: button -->



</html>