<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>svrCmdlist.html</title>
	<!-- css and script -->
	<th:block th:replace="layout/css::css1"></th:block>
	<th:block th:replace="layout/script::script1"></th:block>
	<!-- /css and script -->
</head>
<body>
	<!-- header -->
	<div th:replace="layout/header::header1"></div>
	<!-- /header -->
	
	<!-- main -->
	<div class="container">
		<div class="page-header">
			<h2>Server Cmd List (page: <span id="page_number" th:text="${cmdList.number}+1"></span>)</h2>
		</div>
		<!-- disable Register button
		<div class="pull-right" style="width:100px;margin:10px 0;">
			<button id="btnGetStreamInfo" type="button" class="hide btn btn-primary" data-toggle="modal" data-target="#modalGetStreamInfo">Get Stream Info</button>
			<a th:href="@{/cmd}" class="btn btn-primary btn-block">Register</a>
		</div>
		-->
		<br/>
		<div id="mainHide">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1" rowspan="2">id</th>
						<th class="col-md-3" colspan="2">Mst</th>
						<th class="col-md-5" colspan="5">Cmd</th>
						<th class="col-md-2" rowspan="2">Button</th>
					</tr>
					<tr>
						<th class="col-md-2">Type</th>
						<th class="col-md-1">Code</th>
						<th class="col-md-1">Code</th>
						<th class="col-md-1">Name</th>
						<th class="col-md-1">Desc</th>
						<th class="col-md-1">Period</th>
						<th class="col-md-1">Type</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cmd : ${cmdList}">
						<td th:text="${cmd.id}">#</td>
						<td><a th:href="@{'/cmd/form'(id=${cmd.id})}" th:text="${cmd.svrCode}+'-'+${cmd.cmdCode}">CODE</a></td>
						<td th:text="${cmd.cmdPeriod}">cmdPeriod</td>
						<td th:text="${cmd.cmdPeriod}">cmdPeriod</td>
						<td th:text="${cmd.cmdPeriod}">cmdPeriod</td>
						<td th:text="${cmd.cmdPeriod}">cmdPeriod</td>
						<td th:text="${cmd.cmdPeriod}">cmdPeriod</td>
						<td th:text="${cmd.cmdPeriod}">cmdPeriod</td>
						<td>
							<div class="pull-left">
								<button type="button" style="padding:2px;" class="btn btn-primary btn-sm" id="run">Detail</button>
								<button type="button" style="padding:2px;" class="btn btn-danger  btn-sm" id="kill">Del</button>
							</div>
						</td>
						<!-- td><a th:href="@{'/'+${apis.mapping}+'Form'(id=${apis.id})}" th:text="${apis.name}">Name</a></td -->
					</tr>
				</tbody>
			</table>
		</div>
		<br/>
		
		<!-- textarea -->
		<!-- textarea class="col-md-1 form-control input-sm" maxlength="150" rows="3" style="height:100px;"></textarea --  >
		<textarea id="test-box" class="col-md-1 form-control input-sm" maxlength="150" rows="3"></textarea>
		<br/>
		<  !  -- /textarea -->
		
		<div class="pull-right">
			<a th:href="@{/cmd/list}" class="btn btn-primary">stop</a>
			<a th:href="@{/cmd/list}" class="btn btn-primary">run</a>
			<a th:href="@{/cmd/list}" class="btn btn-primary">create</a>
		</div>
		<br/><br/>
		<!-- page -->
		<th:block th:replace="layout/page::page5"></th:block>
		<!-- /page -->
	</div>
	<br/><br/>
	<br/><br/>
	<!-- /main -->
	
	<!-- footer -->
	<div th:replace="layout/footer::footer1"></div>
	<!-- /footer -->
	
	
	
	
	
	
	
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	
	<!-- script: variables -->
	<script th:inline="javascript">
		if (true) console.log(">>>>> _contextPath_ = " + _contextPath_);
		var urlOnline = /*[[${urlOnline}]]*/ 'default';
		console.log(">>>>> urlOnline = " + urlOnline);
	</script>
	<!-- /script: variables -->
	
	
	
	
	
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	
	<!-- script : main -->
	<script>
	</script>
	<!-- /script : main -->
	
	
	
	
	
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	
	
	<!-- script : GetStreamInfo -->
	<script>
	/*
		$('#btnGetStreamInfo').click(function() {
			console.log('Hello btnGetStreamInfo');
			$('#modal1_reqResType').val("");
			$('#modal1_jsonInfo').val("");
		});
		$('#btnGetJsonInfo').click(function() {
			console.log('Hello btnGetJsonInfo');
			$.ajax({
				url: urlMapper + "/mapper/info/get",
				type: "POST",
				data: JSON.stringify({
					reqResType: $('#modal1_reqResType').val()
				}),
				contentType: "application/json",
				header: {
					"Authorization": "Basic " + btoa("havi" + ":" + "test")
				},
				dataType: "json",
				success: function(data, status) {
					//console.log("data = ", data);
					$('#modal1_reqResType').val(data.reqResType);
					$('#modal1_jsonInfo').val(data.jsonInfo);
				},
				error: function() {
					alert('FAIL of SAVE1');
					$('#modal1_jsonInfo').val("");
				}
			});
		});
		$('#btnCopyJsonInfo').click(function() {
			console.log('Hello btnCopyJsonInfo');
			var copyText = document.getElementById("modal1_jsonInfo");
			copyText.select();
			copyText.setSelectionRange(0, 99999);
			document.execCommand("copy");
		});
		$('#btnSaveJsonInfo').click(function() {
			console.log('Hello btnSaveJsonInfo');
			$.ajax({
				url: urlMapper + "/mapper/info/save",
				type: "POST",
				data: JSON.stringify({
					reqResType: $('#modal1_reqResType').val(),
					jsonInfo: $('#modal1_jsonInfo').val()
				}),
				contentType: "application/json",
				header: {
					"Authorization": "Basic " + btoa("havi" + ":" + "test")
				},
				dataType: "json",
				success: function(data, status) {
					if (true) alert("status: " + data.status);
				},
				error: function() {
					alert('FAIL of SAVE1');
				}
			});
		});
		$('#btnCloseGetStreamInfo').click(function() {
			console.log('Hello btnCloseGetStreamInfo');
		});
	*/
	</script>
	<!-- /script : GetStreamInfo -->
	
	
	
	
	
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	<!-- ================================================================================== -->
	
	<!-- script -->
	<script>
	/*
		$('#test-box').focus();
		$('#test-box').keypress(function(event){
			var keycode = (event.keyCode ? event.keyCode : event.which);
			if(keycode == '13'){
				var next_page = Number($('#page_number').text()) + 1;
				//alert('You pressed a "enter" key in textbox > ' + 'word/list?page=' + next_page);
				location.href = _contextPath_ + 'word/list?page=' + next_page;
			}
		});
	*/
	</script>
	<!-- /script -->
</body>
</html>